.accordion-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  width: 80vw; /* Adjust the width as needed */
}
h5{
  display: flex;
align-items: center;
}

.accordion {
  border: 2px solid #ffffff;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 8px;
  align-items: center;
text-align: center;
}


.accordion button {
  background-color: #121212;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.accordion-content {
  background-color: #eee;
  color: #121212;
  padding: 10px;
  width: 100%;
  font-weight: 300;
}
