/* SearchBar.css */
.searchBarContainer {
    display: flex;
    /* align-items: center; */
  }
  
  .input {
    padding-left: 10px;
    width: 568px;
    height: 40px;
    border-radius: 8px 0 0 8px;
  }
   input:focus{
    outline: none;
}
  
  .searchButton {
    /* border: 1px solid black; Add a border for better visibility */
    /* color:#FFFFFF; */
    height: 42px;
    width: 66px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
justify-content: center;
    cursor: pointer;
    border: 1px solid #121212;
    border-radius: 0 8px 8px 0;    /* margin-left: 8px; */
  }
  
  .searchIcon {
    height: 20px;
    /* Add other styling properties */
  }
  