/* .header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} */
.toggleText{
    cursor:pointer;
    /* color: black; */
} 
.cardsWrapper{
    margin-top: 18px;
    
}
.wrapperSection{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

  
/* .wrapper >Card{
 width: 20vw;
} */

.arrangeSides{
    
    display: flex;
    justify-content:space-between ;
}
h3,h4{
    padding-left: 10px;
    padding-right: 10px;
}
h4{
    color: #34C94B;

}
